@font-face {
    font-family: 'Gotham Rounded Medium';
    src: url('fonts/GothamRoundedMedium_21022.ttf');
}
html, body {
    width: 1280px;
    height: 3595px;
    margin: 0;
    font-family: "Gotham Rounded Medium", serif;
}
main{
    width: 100%;
}
button, a, i {
    cursor: pointer;
}
input{
    outline: none;
}
header {
    background: url('../img/HeaderBackground.png') no-repeat;
    background-size: cover;
    height: 745px;
    color: #ffffff;
}
nav {
    width: 806px;
    font-size: 15px;
    margin: 0 auto;
    padding-top: 30px;
}
.nav-link {
    display: inline-block;
    width: 161px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 14px;
    vertical-align: middle;
}
.logo {
    width: 121px;
    margin: 10px 0 0 36px;
    padding: 0 0 14px;
    cursor: pointer;
}
.logo img{
    width: 53px;
    height: 55px;
}
#link-to-home{
    width: 129px;
}
#link-to-design{
    width: 162px;
    text-align: center;
    padding-left: 19px;
}
#link-to-download{
    width: 150px;
    text-align: right;
}
.title{
    width: 100%;
    margin-top: 221px;
    text-align: center;
    font-weight: bold;
}
.title h1{
    width: 512px;
    font-size: 35px;
    letter-spacing: 6px;
    margin: 0 auto;
    text-transform: uppercase;
    padding-left: 7px;
    text-align: center;
}
.title p{
    font-weight: initial;
    font-size: 16px;
    letter-spacing: 2.4px;
    margin-top: 8px;
}
.get-started{
    background: #12927b;
    padding: 19px 32px 17px;
    color: white;
    text-transform: uppercase;
    font-size: 11.9px;
    border: none;
    margin-top: 9px;
    font-weight: bold;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    letter-spacing: 2px;
}
.social-icons{
    margin: 218px auto 0;
    width: 130px;
}
.social-link{
    text-align: center;
    font-size: 23px;
    margin: 0 -5px 0 17px;
    color: white;
    width: 21px;
}
.second{
    background: url('../img/Second.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 491px;
}
.description {
    margin: 108px 128px 0;
    width: 435px;
    display: inline-block;
    color: black;
    font-size: 13.5px;
}
.description h3{
    text-transform: uppercase;
    color: #12927b;
    margin: 0;
    letter-spacing: 4.2px;
    line-height: 21px;
}
.description p{
    line-height: 24px;
    margin-top: 41px;
    margin-right: 3px;
    font-size: 13.325px;
    letter-spacing: 1px;
}
.description .get-started{
    padding: 21px 43.5px 16.4px;
    margin-top: 27px;
    font-size: 12px;
    letter-spacing: 2px;
}
.third{
    height: 560px;
    background: url(../img/ThirdIphone.png) no-repeat 125px 147px;
}
.third .description{
    margin: 133px 0 0 767px;
}
.third h3{
    margin-top: 10px;
    line-height: 21px;
}
.third p{
    line-height: 23px;
    margin-top: 34px;
    margin-right: 3px;
    font-size: 13.42px;
    letter-spacing: 1px;
}
.third .get-started{
    margin-top: 23px;
    padding: 19px 46.5px 17.4px 44px;
}
.slider-controllers i {
    font-size: 28px;
    margin-right: 18px;
}
.slider-controllers {
    margin-top: 45px;
}
.current-page{
    font-size: 12px;
    letter-spacing: 2px;
}
.fourth{
    height: 482px;
    background-color: #eeeeee;
}
.fourth .description{
    width: 179px;
    margin: 166px 77px 0 128px;
    text-align: center;
    vertical-align: top;
}
.fourth .description img{
    margin-left: -2px;
    margin-top: -2px;
}
.fourth h3{
    letter-spacing: 2.5px;
    margin-top: 24px;
}
.fourth p{
    width: 143px;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    margin: 20px auto;
}
.images{
    display: inline-block;
    width: 768px;
}
.fourth .slider-controllers {
    text-align: right;
    margin-right: 8px;
    margin-top: 86px;
    font-size: 14px;
    margin-bottom: 4px;
}
.fourth .slider-controllers i {
    font-size: 28px;
    margin-right: 0;
    margin-left: 10px;
}
#car {
    margin: 0 18px 0 -4px;
}
.fifth{
    height: 790px;
    background: url('../img/Livello_3.png') no-repeat;
    background-size: cover;
}
.subscribe {
    width: 512px;
    display: inline-block;
    margin: 331.5px 0 0 403px;
    font-size: 14px;
    letter-spacing: 5.6px;
}
.subscribe h2{
    text-transform: uppercase;
    color: #ffffff;
}
.email{
    width: 343px;
    height: 60px;
    background-color: #12927b;
    margin: 31px 64px 0;
    border-radius: 2px;
}
.email input{
    width: 240px;
    font-size: 16px;
    padding: 20.5px 18.5px 17.5px;
    text-transform: uppercase;
    border: 2px solid white;
    letter-spacing: 3px;
    border-radius: 2px;
}
.email i{
    color: white;
    font-size: 24px;
    margin-left: 11px;
    text-align: center;
    vertical-align: middle;
}
.sixth{
    height: 332px;
    background-color: #eeeeee;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    padding: 64px 215px 0;
}
.download-links {
    display: inline-block;
    width: 618px;
    margin: 35px auto;
}
.sixth h2{
    font-size: 18px;
    letter-spacing: 4.5px;
    margin-top: 24px;
    margin-left: 4px;
}
.sixth p{
    width: 850px;
    margin: -5px auto;
    font-size: 11.7px;
    line-height: 21px;
    letter-spacing: 2px;
}
.store{
    width: 296px;
    font-size: 20px;
    margin: 11px 0 0 0;
    padding: 0;
    color: white;
    border: none;
}
#apple{
    float: left;
}
#android{
    float: right;
}
.store span{
    background: #28c9ac;
    padding: 23px 0 16.5px 24px;
    width: 216px;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 3.4px;
    text-align: left;
    text-transform: uppercase;
    color: white;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.store i{
    width: 56px;
    background: #12927b;
    padding: 0;
    height: 40px;
    vertical-align: top;
    padding-top: 17px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 25px;
}
.some-info {
    display: inline-block;
    text-transform: uppercase;
    width: 320px;
    margin: 38px 0 0 115px;
 }
.some-link {
    display: inline-block;
    font-size: 66%;
    letter-spacing: 3px;
    width: 88px;
    font-weight: bold;
    padding-left: 3px;
    border-right: 2px solid #12927b;
}
.some-link:first-child{
    padding-left: 9px;
}
.some-link:nth-child(3n){
    border: none;
    width: 112px;
}
.some-link a{
    color: black;
    text-decoration: none;
}
.copyright {
    margin: 17px 0 0 128px;
    width: 883px;
    font-size: 15px;
    display: inline-block;
    letter-spacing: 1.4px;
}
footer .logo {
    float: right;
    margin-right: 129px;
    margin-top: -23px;
    width: 53px;
    height: 55px;
}