$grey-background: #5A6872;
$green: #00a661;
html, body{
  margin: 0;
  background: $grey-background;
}
.main-container{
  width: 80%;
  margin: 0 auto;
}
.three-dots{
  vertical-align: middle;
}
.card-container{
  background-color: white;
  width: 96%;
  padding: 2%;
  margin: 2% 0;
}
img{
  width: 100%;
  height: auto;
}
header {
  margin-top: 20px;
  background: url("../img/homepage.png") no-repeat;
  background-size: cover;
  height: 405px;

  .main-container {
    color: white;
    nav{
      padding: 2% 0;
      .nav-link{
        display: inline-block;
        width: 10%;
        color: white;
        vertical-align: middle;
        a{
          color: white;
          text-decoration: none;
          padding-bottom: 2%;
          &.active{
            border-bottom: 3px solid white;
          }
        }
      }
      .logo{
        width: 6%;
        img{
          width: auto;
          height: auto;
        }
      }
      .add-ad{
        padding: 1%;
        width: 20%;
        background: rgba(255, 255, 255, 0.1);
        display: inline-block;
        cursor: pointer;
        i{
          padding-right: 5%;
        }
      }
      .log-in{
        padding: 1%;
        display: inline-block;
      }
    }
    h2{
      margin-top: 5%;
    }
    .filters{
      width: 100%;
      div{
        display: inline-block;
        width: 33%;
        span{
          display: block;
          margin: 2% 0;
        }
      }
      .choose-city{
        select{
          width: 96%;
          padding: 2%;
        }
      }
      .choose-rooms{
        margin: 0 3%;
        input{
          display: none;
        }
        label{
          width: 20px;
          height: 20px;
          border-radius: 50%;
          padding: 1% 3%;
          border: 2px solid white;
          margin: 1%;
          cursor: pointer;
        }
        label:last-child{
          padding: 1% 1.7%;
        }
      }
      .search-button{
        background-color: white;
        padding: 1% 4%;
        border: none;
        color: $green;
        font-size: 17px;
        cursor: pointer;
      }
    }
  }
}
main{
  #subway {
    div{
      width: 49%;
      display: inline-block;
      vertical-align: top;
    }
    .room-type{
      width: 30%;
    }
  }
}
