@media (max-width: 800px){
    footer span {
        font-size: 2em;
        margin: 0 auto;
        width: 80%;
        display: block;
        float: none;
    }
    h1{
        font-size: 6em;
    }
    h3{
        font-size: 2.5em;
    }
    footer{
        height: 6vh;
    }
}
